# UCP Portal Credentials
UCP_EMAIL=
UCP_PASSWORD=

# LLM Provider API Keys
GROQ_API_KEY = 

# Mobile Push Notification Settings (ntfy.sh)
NTFY_TOPIC=
BOT_TITLE=
BOT_TAG=

# LangSmith Observability & Tracing
LANGCHAIN_TRACING_V2=true
LANGCHAIN_ENDPOINT=https://api.smith.langchain.com
LANGCHAIN_API_KEY=
LANGCHAIN_PROJECT=